[%- PROCESS "blocks.tt2" -%]
[%- SET title = 'Games that Teach Vim' -%]
[% WRAPPER wrap_html %]
<h2 id="vim_adventures"><a href="http://vim-adventures.com/">Vim
Adventures</a></h2>

<p>
A JavaScript (so-called “HTML 5”) game that teaches Vim basics.
Attractive graphics, and an interesting concept, but lacks a saved game
feature, and the levels above the third require payment.
</p>


[% END %]
