[%- PROCESS "blocks.tt2" -%]
[%- SET title = 'Vim Frequently Asked Questions Lists ( FAQs )' -%]
[% WRAPPER wrap_html %]
<h2 id="vim_faq"><a href="https://github.com/chrisbra/vim_faq">The
Vim FAQ</a></h2>

<p>
An up-to-date version of the Vim Frequently Asked Questions List (FAQ)
which provides a lot of enlightenment.
</p>


[% END %]
